.jumbotron {
  background-image: url(../imagenes/matrix_banner1.png);
   background-size: cover;
   background-repeat: no-repeat;
   color: white;
  margin-top: 50px
}

footer {
  background-color:lightgreen;
  padding: 10px 10px 0 10px ;
  margin-top: 20px;
}

.card-item {
  flex: 1 200px;
  margin-top: 10px;
  border-radius: 0px
}

.boton{
  width: 100%;
  border-radius: 0px
}

.footer-addres-icon {
  padding-right: 10px
}

.button-inf {
  padding-right: 10px
}

.tab-content {
  padding-top: 15px;
}
.tycBTN {
  padding-top: 15px;

}
