.jumbotron {
  background-image: url(../imagenes/matrix_banner1.png);
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  margin-top: 50px;
  margin-bottom: 0px; }

footer {
  background-color: #33ff33;
  padding: 10px 10px 0 10px;
  margin-top: 20px;
  margin-bottom: 0px; }

.card-item {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0px;
  border-radius: 0px; }

.boton {
  width: 100%;
  border-radius: 0px; }

.footer-addres-icon {
  padding-right: 10px; }

.button-inf {
  padding-right: 10px; }

.tab-content {
  padding-top: 15px; }

.tycBTN {
  padding-top: 15px; }
