@lightgreen:  #33ff77;
.margenes($top, $bottom){
    margin-top: $top;
    margin-bottom: $bottom;
}

.jumbotron {
  background-image: url(../imagenes/matrix_banner1.png);
   background-size: cover;
   background-repeat: no-repeat;
   color: white;
  .margenes(50px, 0px);
}

footer {
  background-color:$lightgreen;
  padding: 10px 10px 0 10px ;
  .margenes(20px, 0px);
}

.card-item {
  flex: 1 200px;
  .margenes(10px, 0px);
  border-radius: 0px;
}


.boton {
  width: 100%;
  border-radius: 0px; }

.footer-addres-icon {
  padding-right: 10px; }

.button-inf {
  padding-right: 10px; }

.tab-content {
  padding-top: 15px; }

.tycBTN {
  padding-top: 15px; }
